@model ManutencaoRegistrosComprasGado.Models.CompraGado

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>CompraGado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CompraGadoId" />
            <div class="form-group">
                <label asp-for="DataEntrega" class="control-label"></label>
                <input asp-for="DataEntrega" class="form-control" />
                <span asp-validation-for="DataEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PecuaristaId" class="control-label"></label>
                <select asp-for="PecuaristaId" class="form-control" asp-items="ViewBag.PecuaristaId"></select>
                <span asp-validation-for="PecuaristaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
